<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden">
<head>
    <title>Hangman @ ResBaz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <script type="text/javascript">
	function refresh() {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
		  if (this.readyState == 4 && this.status == 200) {
			var myObj = JSON.parse(this.responseText);
			document.getElementById("maskedWord").innerHTML = myObj.maskedWord;
			document.getElementById("livesRemaining").innerHTML = myObj.livesRemaining;
			document.getElementById("alphabetsUsed").innerHTML = myObj.alphabetsUsed;
			document.getElementById("nltkword").innerHTML = "hi";
			document.getElementById("nltkmistakes").innerHTML = 3;
		  }
		};
		xmlhttp.open("GET", "../data.json", true);
		xmlhttp.send();
	}

	function init() {
	  refresh()
	  var int = self.setInterval(function () {
		refresh()
	  }, 100);
	}

    </script>
</head>

<body onload="init()" style="overflow-x: hidden">
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Natural Language Analysis With Python NLTK</h1>
    </div>
</div>
<div class="text-center hidden">
    <img src="https://brandhub.unimelb.edu.au/guidelines/logos/04_Logo_Vertical-Housed.jpg" height="200" width="200">
</div>

<div class="container-fluid">
    <div class="center-block">
        <div class="col-sm-12 text-center">
            <h1 style="font-family:Courier New;" class="text-uppercase hidden"><b>Natural Language Processing</b></h1>
            <h2>HANGMAN</h2>
            <h4><span class="glyphicon glyphicon-education"></span>Created by Research Platform Services</h4>
            <br>
            <h2 style="font-family:Courier New; font-style: italic; text-indent:26pt; text-align: left"
                class="text-uppercase">
                <span><img src="researcher-icon-png-4-200x200.png" alt="Avatar" class="avatar"></span> <b>Researcher</b>
            </h2>
            <h2 id="maskedWord"></h2>
            <h4>Number of mistakes: <b><i><span style="color:red" id="livesRemaining"></span></i></b> off 12 </h4>
            <h4>Alphabet used:</h4>
            <br>

            <h2 style="font-family:Courier New; font-style: italic; text-indent:26pt; text-align: left"
                class="text-uppercase">
                <span><img src="robot-01-icon.png" alt="Avatar" class="avatar"></span> <b>NLTK AI</b></h2>
            <h2 id="nltkword"></h2>
            <div><h1>Number of mistakes: <span id="nltkmistakes"></span> off 12 </h1></div>
            <br>
            <div class="alert" style="background-color:rgb(150, 150, 150);color:rgb(256,256,256);">
                <h4>Guess a letter for the hangman game. You can speak a letter at a time or say the entire word.</h4>
                <h4><strong>NOTE</strong>: Say <strong>ALEXA</strong> before every input you say</h4>
                <span id="datetime"></span>
                <script>
                    var dt = new Date();
                    document.getElementById("datetime").innerHTML = dt.toLocaleString();
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>